{{ define "main" }}
<div class="post">
    {{ if ne .Params.top "true" }}
    <div class="back-button-wrapper primary-anim">
        <a class="material-icons md-light md-custom back-button" href="../"
            >chevron_left</a
        >
    </div>
    {{ end }}

    {{ with .Title }}
        <div class="post-head primary-anim">
            <h1>{{ . }}</h1>
        </div>
    {{ end }}

    <div class="post-content">
        {{ $page := . }}
        <div class="post-neck secondary-anim">
            {{ with .Params.Date }}
                {{ $dateHuman := $page.Date | time.Format ":date_long" }}
                <time datetime="{{ . }}">{{ $dateHuman }}</time>
            {{ end }}

            {{ range .Params.interests }}
                <a class="tag" href="{{ "interests/" | absURL }}{{ . | urlize }}/">
                    <p>#</p>
                    <p>{{ . }}</p>
                </a>
            {{ end }}

            {{ with .Params.github }}
                <a class="github" href="{{ . }}" target="_tab">
                    <embed class="github" src="/icons/github-mark-white.png">
                </a>
            {{ end }}
        </div>

        <div class="tertiary-anim">{{ .Content }}</div>

        <div class="secondary-anim">
            {{ $page = . }}
            {{ range .Pages }}
            <div class="post-listing">
                <div class="post-listing-head">
                    <h2>
                        <a class="post-name" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    </h2>

                    {{ range .Params.interests }}
                        {{ if ne . $page.Name }} <!-- remove tag if in tag page -->
                            <a class="tag" href="{{ "interests/" | absURL }}{{ . | urlize }}/">
                                <p>#</p>
                                <p>{{ . }}</p>
                            </a>
                        {{ end }}
                    {{ end }}
                </div>
                <a class="summary tertiary-anim" href="{{ .RelPermalink }}">{{ .Summary }}</a>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
