{{ define "main" }}
<div class="post">
    <div class="back-button-wrapper primary-anim">
        <a class="material-icons md-light md-custom back-button" href="javascript:window.history.back()"
            >chevron_left</a
        >
    </div>

    <div class="post-head primary-anim">
        <h1>{{ .Title }}</h1>
    </div>

    <div class="post-content">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format ":date_long" }}
        <div class="post-neck secondary-anim">
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            {{ range .Params.tags }}
            <a class="tag" href="{{ "tags/" | absURL }}{{ . | urlize }}/">
                <p>#</p>
                <p>{{ . }}</p>
            </a>
            {{ end }}
        </div>

        <div class="tertiary-anim">{{ .Content }}</div>
    </div>
</div>
<footer class="tertiary-anim">{{ partial "footer.html" . }}</footer>
{{ end }}
