{{ define "main" }}
<div class="post">
    {{ partial "back-button.html" }}

    <div class="post-head animate">
        <h1>{{ .Title }}</h1>
    </div>

    <div class="post-content animate">
        {{ $page := . }}
        <div class="post-neck">
            {{ with .Date }}
                {{ $dateHuman := $page.Date | time.Format ":date_long" }}
                <time datetime="{{ . }}">{{ $dateHuman }}</time>
            {{ end }}

            <div class="tags">
                {{ range .Params.interests }}
                    <a class="tag" href="{{ "interests/" | absURL }}{{ . | urlize }}/">
                        <p>#</p>
                        <p>{{ . }}</p>
                    </a>
                {{ end }}
            </div>

            {{ with .Params.github }}
                <a class="github" href="{{ . }}" target="_tab">
                    <embed class="github" src="/icons/github-mark-white.png">
                </a>
            {{ end }}
        </div>

        {{ .Content }}
    </div>
</div>
{{ end }}
