@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 2rem, 0);
        -webkit-filter: blur(0.5rem);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-filter: blur(0px);
    }
}

:root {
    --entrance-animation: cubic-bezier(0, 1, 1, 1);
}

.primary-anim {
    animation: fadeInUp 500ms var(--entrance-animation) 250ms both;
}

.secondary-anim {
    animation: fadeInUp 500ms var(--entrance-animation) 500ms both;
}

.tertiary-anim {
    animation: fadeInUp 500ms var(--entrance-animation) 750ms both;
}
