@font-face {
    font-family: "SF Pro Text";
    src: url("/font/SF-Pro-Text-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/font/SF-Pro-Text-Italic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/font/SF-Pro-Text-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("/font/SF-Pro-Text-BoldItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Mono";
    src: url("/font/SF-Mono-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Mono";
    src: url("/font/SF-Mono-RegularItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Mono";
    src: url("/font/SF-Mono-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "SF Mono";
    src: url("/font/SF-Mono-BoldItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
