:root {
    --content-width: min(50rem, calc(100vw - 4.6rem));
    --animation: cubic-bezier(0, 1, 1, 1);
}

html {
    font-family: "SF Pro Text";
    background-color: #111111;
    color: white;
}

h1 {
    font-size: 5rem;
    /* line-height: 3rem; */
    margin: 0 0 0.5rem 0;
}

p {
    font-size: 1rem;
}

time {
    color: #8e8e8e;
}

a {
    color: #5070ff;
}

.post {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
}

.post-content {
    grid-row: 2;
    grid-column: 2;
}

body {
    margin: 0;
}

main {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: calc(100vh);
    color: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    visibility: hidden;
}

footer {
    text-align: center;
    color: #505050;
    width: 100%;
    margin-top: auto;
}

.post-content img,
.post-content video {
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    max-width: 100%;
}

.post-head {
    align-items: end;
    grid-row: 1;
    grid-column: 2;
}

.material-icons.md-custom {
    font-size: 6rem;
}

.back-button-wrapper {
    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
    margin-top: auto;
}

.back-button {
    color: #3e3e3e;
    text-decoration: none;
    transition: all 200ms var(--animation);
}

.back-button-wrapper:hover .back-button {
    color: white;
}

pre {
    border-radius: 0.5rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    display: none;
}

pre code {
    margin: 1rem;
}

p code {
    color: #a0a0a0;
    font-size: 1rem;
    font-weight: bold;
}

.line {
    margin: 0 1rem 0 1rem;
}

.splash {
    align-self: center;
    margin: auto;
    grid-row: 2;
}

.logo {
    width: 10rem;
    display: block;
    margin: auto;
}

.menu {
    display: flex;
    cursor: pointer;
    padding: 1rem;
}

.menu-item a {
    text-decoration: none;
    transition: all 200ms var(--animation);
    margin: 0;
    font-family: "SF Mono";
}

.menu-item .inactive {
    color: #505050;
}

.menu-item-aux.active {
    opacity: 1;
}

.menu-item-aux {
    margin: 0;
    display: inline;
    color: #505050;
    opacity: 0;
    font-family: "SF Mono";
    transition: all 200ms var(--animation);
}

.menu-item:hover a.inactive {
    color: white;
}

.menu-item:hover .menu-item-aux {
    opacity: 1;
    color: #505050;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #111111d0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
}

.post-neck {
    display: flex;
    flex-direction: row;
}

.tag {
    display: flex;
    flex-direction: row;
    color: #505050;
    margin: 0 0.2rem;
    text-decoration: none;
}

.tag p {
    margin: auto;
    transition: all 200ms var(--animation);
}

.tag:hover p {
    background-color: white;
    color: #111111;
}

.post-neck {
    align-items: center;
}

.post-neck time {
    margin: auto 0;
    margin-right: 1rem;
}

.post-listing {
    margin-bottom: 1rem;
}

.post-listing-head {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 0 0 1rem 0;
}

.post-listing-head h2 {
    margin-bottom: 0;
}

.post-listing-head a {
    margin: auto 1rem 0.1rem 0;
    text-decoration: none;
}

.post-listing-head .tag {
    margin: 0.25rem 0.25rem 0.1rem 0;
    text-decoration: none;
}

.post-name {
    color: #e0e0e0;
    text-decoration: none;
    margin: auto 0;
    margin-right: 1rem;
    transition: all 200ms var(--animation);
}

.menu-item a.active {
    color: white;
}

.menu-item:hover a.inactive.projects,
.menu-item a.active.projects,
.post-listing:hover .post-name.projects {
    color: #6060ff;
}

.menu-item:hover a.inactive.blog,
.menu-item a.active.blog,
.post-listing:hover .post-name.blog {
    color: #a0ffa0;
}

.summary {
    color: #808080;
    text-decoration: none;
    transition: all 200ms var(--animation);
}

.post-listing:hover .summary {
    color: #d0d0d0;
}

.github {
    margin-left: auto;
    padding-left: 0.5rem;
    height: 2rem;
}

.mermaid {
    margin: auto;
    max-width: calc(var(--content-width) / 2);
}

.gallery {
    display: flex;
    overflow: auto;
    border-radius: 0.5rem;
    margin-top: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.post-content video,
.post-content img {
    max-height: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.gallery img {
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 0;
    height: calc(var(--content-width) / 2);
}

.featured {
    color: #ffd740;
    text-shadow: #ffd74080 0 0 1rem;
    transition: all 200ms var(--animation);
}

.post-listing:hover .featured {
    text-shadow: #ffd74080 0 0 0;
}

.under-construction {
    margin: auto;
    color: red;
    font-family: "SF Mono";
}

blockquote p {
    font-style: italic;
    color: #808080;
}

.four-o-four {
    margin: auto;
    color: red;
    font-family: "SF Mono";
    text-align: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.unsafe {
    color: #ff4040;
    text-shadow: #ff4040 0 0 5rem;
}

.DENY,
.error {
    color: #ff4040;
}

.warning {
    color: #ffe040;
}

.OK {
    color: #40ff40;
}

@media only screen and (max-width: 70rem) {
    h1 {
        font-size: 2rem;
    }

    .back-button-wrapper {
        display: none;
    }

    .post-listing-head {
        flex-direction: column;
        align-items: start;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 30rem) {
    header {
        position: relative;
    }

    .menu {
        flex-direction: column;
        gap: 0.5rem;
    }
}
