{{ $currentPage := . }} {{ with site.Menus.main }}
<nav class="menu inline">
    <div class="nav-left">{{ $currentPage.Name }}</div>

    <div class="nav-right">
        <div class="menu-item">
            {{ if or $currentPage.Params.unlisted (eq $currentPage.Section "")
            }}
            <a class="inactive unlisted">unlisted</a>
            {{ end }}
        </div>
        {{ range . }}
        <div class="menu-item">
            {{ if eq $currentPage.Section .Name }}
            <a class="active {{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ else }}
            <a class="inactive {{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </div>
        {{ end }}
        <div class="menu-item">
            <a class="inactive" href="/">Me</a>
        </div>
</nav>
{{ end }}
