{{ $currentPage := . }} {{ with site.Menus.main }}
<nav class="menu">
    <div class="menu-item">
        <p class="menu-item-aux">></p>
        <a class="inactive" href="/">home</a>
        <p class="menu-item-aux"><</p>
    </div>

    {{ range . }}
    <div class="menu-item">
        {{ if eq $currentPage.Section .Name }}
        <p class="menu-item-aux active">></p>
        <a class="active {{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
        <p class="menu-item-aux active"><</p>
        {{ else }}
        <p class="menu-item-aux">></p>
        <a class="inactive {{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
        <p class="menu-item-aux"><</p>
        {{ end }}
    </div>
    {{ end }}
    <div class="menu-item">
        {{ if eq $currentPage.Section "unlisted" }}
        <p class="menu-item-aux">></p>
        <a class="inactive unlisted" href="/unlisted">unlisted</a>
        <p class="menu-item-aux"><</p>
    </div>
    {{ end }}
</nav>
{{ end }}
